<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzap</title>
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <div class="greenBar"></div>
            <div class="container">
                <!-- parte sinstra del sito boolzap -->
                <div class="left">
                    <div class="areaPersonale d_flex flex_between">
                        <div>
                            <img src="./assets/img/avatar_io.jpg" alt="">
                            <span>Nome Utente</span>
                        </div>
                        <div class="icone d-flex flex_between">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notifiche d_flex">
                        <div class="tondoBianco">
                            <span><i class="fas fa-bell-slash"></i></span>
                        </div>
                        <div class="scritteNotifiche d_flex_col">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="ricerca">
                        <div class="search">
                            <span><i class="fas fa-search"></i></span>
                            <span><input type="text" placeholder="Cerca o inizia una nuova chat"></span>
                        </div>
                    </div>
                    <div class="contatti">
                        <div v-for="(contatto,index) in contacts">
                            <div class="d_flex contact" @click="selezionaUtente(index)">
                                <img :src="contatto.avatar">
                                <span> {{contatto.name}} </span>
                            </div>
                        </div>   
                    </div>
                    
                </div>
                <!-- fine parte sinstra del sito boolzap -->
                <!-- parte destra del sito boolzap -->
                <div class="right">
                    <div class="destinatario d_flex flex_between">
                        <div class="d_flex" >
                            <img :src="contacts[activeIndex].avatar">
                            <div class="scritteDestinatario">
                                <span>{{contacts[activeIndex].name}}</span>
                                <p>Ultimo Accesso oggi alle </p>
                            </div>
                        </div>
                        <div class="icone d-flex flex_between">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="sfondoChat">
                        <!-- <img src="./assets/img/sfondo.jpg" alt=""> -->
                        <div class="containerChat">
                            <!-- <div v-for="contatto,index in contacts">
                                <div class="riquadroText" v-for="(mess,posizione) in contacts[index].messages" v-if="contacts[index].visible">
                                    {{mess.text}}
                                </div>
                            </div> -->
                            <div class="riquadroText" v-for="messaggio,index in contacts[activeIndex].messages">
                                {{messaggio.text}}
                            </div>
                        </div>
                    </div>
                    <div class="scriviMessaggio d_flex flex_around">
                        <i class="far fa-smile self_align"></i>
                        <input class="self_align" type="text" placeholder="Scrivi un messaggio" v-model="frase" @keyup.enter="inserisciMessaggio">
                        <i class="fas fa-microphone self_align"></i>
                    </div>
                </div>
                <!-- fine parte destra del sito boolzap -->
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>